# =============================
# Byte-compiled / Cache
# =============================
__pycache__/
*.py[cod]
*$py.class

# =============================
# Virtual Environments
# =============================
env/
venv/
.venv/

# =============================
# VS Code
# =============================
.vscode/
*.code-workspace

# =============================
# PyCharm
# =============================
.idea/
*.iml

# =============================
# Test / Coverage / Pytest
# =============================
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# =============================
# Mac / Linux / Windows
# =============================
*.swp
.DS_Store
Thumbs.db

# =============================
# Logs
# =============================
*.log

# =============================
# Environment Variables
# =============================

bank_system.egg-info/
